In [ ]:
# # Definition of countries and capital
# countries = ['spain', 'france', 'germany', 'norway']
# capitals = ['madrid', 'paris', 'berlin', 'oslo']

# # Get index of 'germany': ind_ger
# ind_ger = countries.index("germany")

# # Use ind_ger to print out capital of Germany
# print(capitals[ind_ger])

In [ ]:
# # Definition of countries and capital
# countries = ['spain', 'france', 'germany', 'norway']
# capitals = ['madrid', 'paris', 'berlin', 'oslo']

# # From string in countries and capitals, create dictionary europe
# europe = {'spain':'madrid', 'france': 'paris', 'germany':'berlin', 'norway': 'oslo' }

# # Print europe
# print(europe)

In [ ]:
# # Definition of dictionary
# europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# # Print out the keys in europe
# print(europe.keys())

# # Print out value that belongs to key 'norway'
# print(europe['norway'])

In [ ]:
# # Definition of dictionary
# europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# # Add italy to europe
# europe['italy'] = 'rome'

# # Print out italy in europe
# print('italy' in europe)

# # Add poland to europe
# europe['poland'] = 'warsaw'

# # Print europe
# print(europe)

In [ ]:
# # Definition of dictionary
# europe = {'spain':'madrid', 'france':'paris', 'germany':'bonn',
#           'norway':'oslo', 'italy':'rome', 'poland':'warsaw',
#           'australia':'vienna' }

# # Update capital of germany
# europe['germany'] = 'berlin'

# # Remove australia
# del(europe['australia'])

# # Print europe
# print(europe)

In [ ]:
# # Dictionary of dictionaries
# europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
#            'france': { 'capital':'paris', 'population':66.03 },
#            'germany': { 'capital':'berlin', 'population':80.62 },
#            'norway': { 'capital':'oslo', 'population':5.084 } }


# # Print out the capital of France
# europe['france']['capital']

# # Create sub-dictionary data
# data = {'capital':'rome', 'population': 59.83}

# # Add data to europe under key 'italy'
# europe['italy'] = data

# # Print europe
# print(europe)

## Pandas.

In [1]:
import pandas as pd

In [5]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Import pandas as pd
import pandas as pd

# Create dictionary my_dict with three key:value pairs: my_dict
my_dict = {'country': names, 'drives_right': dr, 'cars_per_cap':cpc}

# Build a DataFrame cars from my_dict: cars
cars = pd.DataFrame(my_dict)

# Print cars
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

In [7]:
# Definition of row_labels
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
cars.index = row_labels

# Print cars again
print(cars)

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

In [8]:
# Import pandas as pd
import pandas as pd

# Import the cars.csv data: cars
cars1 = pd.read_csv('cars.csv')

# Print out cars
print(cars1)

  Unnamed: 0  cars_per_cap        country  drives_right
0         US           809  United States          True
1        AUS           731      Australia         False
2        JAP           588          Japan         False
3         IN            18          India         False
4         RU           200         Russia          True
5        MOR            70        Morocco          True
6         EG            45          Egypt          True

In [9]:
# Import pandas as pd
import pandas as pd

# Import the cars.csv data: cars
cars1 = pd.read_csv('cars.csv', index_col=0)

# Print out cars
print(cars1)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [15]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Print out country column as Pandas Series
print(cars['country'])

# Print out country column as Pandas DataFrame
print(cars[['country']])

# Print out DataFrame with country and drives_right columns
print(cars[['country','drives_right']])

US     United States
AUS        Australia
JAP            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object
           country
US   United States
AUS      Australia
JAP          Japan
IN           India
RU          Russia
MOR        Morocco
EG           Egypt
           country  drives_right
US   United States          True
AUS      Australia         False
JAP          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

In [16]:
.0# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Print out first 3 observations
print(cars[0:3])

# Print out fourth, fifth and sixth observation
print(cars[3:6])

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
     cars_per_cap  country  drives_right
IN             18    India         False
RU            200   Russia          True
MOR            70  Morocco          True

In [18]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Print out observation for Japan
cars.loc['JAP']

# Print out observations for Australia and Egypt
cars.loc[['AUS', 'EG']]

     cars_per_cap    country  drives_right
AUS           731  Australia         False
EG             45      Egypt          True

In [19]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Print out drives_right value of Morocco
print(cars.loc[['MOR'],['drives_right']])

# Print sub-DataFrame
print(cars.loc[['RU','MOR'],['country','drives_right']])

     drives_right
MOR          True
     country  drives_right
RU    Russia          True
MOR  Morocco          True

In [20]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Print out drives_right column as Series
print(cars['drives_right'])

# Print out drives_right column as DataFrame
print(cars.loc[:,['drives_right']])

# Print out cars_per_cap and drives_right as DataFrame
print(cars[['cars_per_cap', 'drives_right']])

US      True
AUS    False
JAP    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool
     drives_right
US           True
AUS         False
JAP         False
IN          False
RU           True
MOR          True
EG           True
     cars_per_cap  drives_right
US            809          True
AUS           731         False
JAP           588         False
IN             18         False
RU            200          True
MOR            70          True
EG             45          True